@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Roboto", sans-serif;
}

:root {
	--primary: #4b7bec;
	--dark-gray: #343434;
	--text-gray: #7c8184;
	--gray: #7c8184;
	--light-gray: #d3d3d3;
	--off-white: #f2f2f4;
}

#root,
html,
body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

a {
	color: #3498db;
	text-decoration: none;
	font-weight: 500;
}

p {
	font-weight: 300;
	letter-spacing: 0.2px;
	line-height: 1.6rem;
	color: var(--gray);
}

.center {
	text-align: center;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 500;
}

.underline {
	text-decoration: underline;
}

.text-primary {
	color: var(--primary);
}

.p-05 {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.padding {
	padding: 2rem;
}

@media (max-width: 1080px) {
	.padding {
		padding: 1rem;
	}
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-sb {
	justify-content: space-between;
}

.gap-05 {
	gap: 0.5rem;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.nowrap {
	white-space: nowrap;
}

.red {
	color: #e74c3c !important;
}

.gray {
	color: var(--gray);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}
